<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Latyn Lyngo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>My description about why I need this capability</string>
	<key>NSCameraUsageDescription</key>
	<string>My description about why I need this capability</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>My description about why I need this capability</string>
	<key>UIAppFonts</key>
	<array>
		<string>corbel.ttf</string>
		<string>corbelb.ttf</string>
		<string>corbeli.ttf</string>
		<string>corbelz.ttf</string>
		<string>HARNGTON.TTF</string>
		<string>HarringtonBold.ttf</string>
		<string>Helvetica.ttf</string>
		<string>HelveticaBd.ttf</string>
		<string>arial.ttf</string>
		<string>arialbd.ttf</string>
		<string>calibri.ttf</string>
		<string>calibrib.ttf</string>
		<string>AmericanTypewriterCondensed.ttf</string>
		<string>AmericanTypewriterCondensedBold.ttf</string>
		<string>ChalkboardSE-Regular.ttf</string>
		<string>ChalkboardSE-Bold.ttf</string>
		<string>ArialRounded-Bold.ttf</string>
		<string>arial-rounded.ttf</string>
		<string>papyrus_let_bold.ttf</string>
		<string>Papyrus-Condensed.ttf</string>
		<string>GillSans-Bold.ttf</string>
		<string>GillSans.ttf</string>
		<string>BanglaSangamMN.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
